* {
  box-sizing: border-box;
  color: #777777
  float: left;
}

h1 {
	color: teal
}

#Logo {
	background-color: teal;
	color: white

#Bio {
	width: 650px;
	padding: 10px;
	border: 5px #777777;
	margin: 0;
	border: solid;
}

section {
	float: right;
}

footer {
	background-color: #666666
}

img	{
	float: left;
}

p {
	float: left;
}

ul {
	float: left;
}